body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

input[type="text"] {
  min-width: 300px;
  text-align: center;
}

.error {
  color: red;
}
